In [1]:
from pyspark.sql import SparkSession

In [2]:
# Create a SparkSession
spark = SparkSession.builder.appName("BasicSparkExample") .getOrCreate()

In [13]:
# Create an RDD from a Python list
data = [1, 2, 3, 4, 5]
rdd = spark.sparkContext.parallelize(data)
# Show the contents of the RDD
print(rdd.collect())

mapped_rdd=rdd.map(lambda x:x*2)
print(mapped_rdd.collect())

filtered_rdd=rdd.filter(lambda x:x%2==0)
print(filtered_rdd.collect())

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[2, 4]

In [24]:
## GENERATE RANDOM DATA ON CSV FILE
# Python3 code to demonstrate working of
# Random K dates in Range
# Using choices() + timedelta() + loop
from datetime import date, timedelta
import random



def get_random_dates(k):
    # Python3 code to demonstrate working of
    # Random K dates in Range
    # Using randrange() + timedelta() + loop
    
    # initializing dates ranges 
    test_date1, test_date2 = date(2023, 1, 1), date(2023, 12, 31)
    
    # printing dates 
    #print("The original range : " + str(test_date1) + " " + str(test_date2))
    
    # initializing K
    K = k
    
    # getting days between dates
    dates_bet = test_date2 - test_date1
    total_days = dates_bet.days
    
    res = []
    for idx in range(K):
        random.seed(a=None)
        
        # getting random days
        randay = random.randrange(total_days)
        
        # getting random dates 
        res.append(test_date1 + timedelta(days=randay))
    
    # printing 
    #print("K random dates in range : " + str(res))

    return res

In [47]:
n_samples=100
dates=get_random_dates(100)

data=[]
columns = ["TID", "UID", "val", "time"]
for i in range(n_samples):
    row=[]
    row.append(random.randint(1,70))
    row.append(101+i)
    row.append(round(random.uniform(50, 250), 2))
    row.append(dates[i])

    data.append(row)

In [48]:
df = spark.createDataFrame(data, columns)
df.show()
filtered_df = df.filter(df.val > 100)
filtered_df.show()
grouped_df=df.groupBy("UID")

+---+---+------+----------+
|TID|UID|   val|      time|
+---+---+------+----------+
| 47|101|223.73|2023-09-09|
| 60|102|211.12|2023-12-25|
|  3|103|115.09|2023-06-24|
| 66|104|193.98|2023-07-04|
| 27|105|176.57|2023-01-10|
| 22|106|177.37|2023-12-01|
| 39|107|190.43|2023-10-22|
| 66|108|118.06|2023-10-28|
| 12|109|127.62|2023-03-29|
| 22|110|102.79|2023-03-29|
| 18|111|234.08|2023-02-26|
| 47|112| 92.44|2023-06-18|
|  6|113|145.41|2023-02-16|
| 45|114|130.82|2023-03-09|
| 45|115| 82.98|2023-10-06|
|  2|116|146.82|2023-02-22|
| 13|117|217.89|2023-02-16|
| 27|118|217.31|2023-02-25|
| 55|119|106.63|2023-10-29|
| 35|120|134.45|2023-02-01|
+---+---+------+----------+
only showing top 20 rows

+---+---+------+----------+
|TID|UID|   val|      time|
+---+---+------+----------+
| 47|101|223.73|2023-09-09|
| 60|102|211.12|2023-12-25|
|  3|103|115.09|2023-06-24|
| 66|104|193.98|2023-07-04|
| 27|105|176.57|2023-01-10|
| 22|106|177.37|2023-12-01|
| 39|107|190.43|2023-10-22|
| 66|108|118.06|2023-10-28|
| 12|109|127.62|2023-03-29|
| 22|110|102.79|2023-03-29|
| 18|111|234.08|2023-02-26|
|  6|113|145.41|2023-02-16|
| 45|114|130.82|2023-03-09|
|  2|116|146.82|2023-02-22|
| 13|117|217.89|2023-02-16|
| 27|118|217.31|2023-02-25|
| 55|119|106.63|2023-10-29|
| 35|120|134.45|2023-02-01|
| 37|121|208.28|2023-08-12|
| 37|122|108.21|2023-06-23|
+---+---+------+----------+
only showing top 20 rows

AttributeError: 'DataFrame' object has no attribute 'groupByKey'

In [54]:
rdd = spark.sparkContext.parallelize(data)
print(rdd.collect())   
filtered_rdd = rdd.filter(lambda row: row[2] > 100)
#print(filtered_rdd.collect())


print("\n\n\n")

rdd_pairs = rdd.map(lambda row: (row[0], row[2])) 
#grouped_rdd=rdd_pairs.groupByKey()
#print([(k, list(v)) for k, v in grouped_rdd.collect()])

reduced_rdd=rdd_pairs.reduceByKey(lambda x,y:x+y)
print(reduced_rdd.collect())
print("\n\n\n")

[[47, 101, 223.73, datetime.date(2023, 9, 9)], [60, 102, 211.12, datetime.date(2023, 12, 25)], [3, 103, 115.09, datetime.date(2023, 6, 24)], [66, 104, 193.98, datetime.date(2023, 7, 4)], [27, 105, 176.57, datetime.date(2023, 1, 10)], [22, 106, 177.37, datetime.date(2023, 12, 1)], [39, 107, 190.43, datetime.date(2023, 10, 22)], [66, 108, 118.06, datetime.date(2023, 10, 28)], [12, 109, 127.62, datetime.date(2023, 3, 29)], [22, 110, 102.79, datetime.date(2023, 3, 29)], [18, 111, 234.08, datetime.date(2023, 2, 26)], [47, 112, 92.44, datetime.date(2023, 6, 18)], [6, 113, 145.41, datetime.date(2023, 2, 16)], [45, 114, 130.82, datetime.date(2023, 3, 9)], [45, 115, 82.98, datetime.date(2023, 10, 6)], [2, 116, 146.82, datetime.date(2023, 2, 22)], [13, 117, 217.89, datetime.date(2023, 2, 16)], [27, 118, 217.31, datetime.date(2023, 2, 25)], [55, 119, 106.63, datetime.date(2023, 10, 29)], [35, 120, 134.45, datetime.date(2023, 2, 1)], [37, 121, 208.28, datetime.date(2023, 8, 12)], [37, 122, 108.21, datetime.date(2023, 6, 23)], [1, 123, 53.75, datetime.date(2023, 7, 26)], [51, 124, 180.51, datetime.date(2023, 10, 26)], [56, 125, 192.88, datetime.date(2023, 9, 19)], [69, 126, 169.89, datetime.date(2023, 11, 17)], [8, 127, 219.95, datetime.date(2023, 5, 23)], [22, 128, 200.59, datetime.date(2023, 5, 9)], [48, 129, 138.96, datetime.date(2023, 9, 28)], [63, 130, 146.55, datetime.date(2023, 9, 13)], [47, 131, 112.64, datetime.date(2023, 4, 21)], [38, 132, 143.1, datetime.date(2023, 5, 25)], [51, 133, 245.07, datetime.date(2023, 1, 22)], [23, 134, 223.69, datetime.date(2023, 11, 11)], [32, 135, 249.32, datetime.date(2023, 5, 12)], [35, 136, 202.65, datetime.date(2023, 10, 16)], [51, 137, 53.38, datetime.date(2023, 7, 24)], [65, 138, 173.69, datetime.date(2023, 11, 13)], [14, 139, 228.65, datetime.date(2023, 3, 30)], [13, 140, 236.64, datetime.date(2023, 5, 10)], [51, 141, 82.54, datetime.date(2023, 5, 23)], [24, 142, 223.19, datetime.date(2023, 10, 28)], [24, 143, 164.16, datetime.date(2023, 10, 25)], [17, 144, 128.49, datetime.date(2023, 11, 21)], [64, 145, 154.5, datetime.date(2023, 2, 18)], [34, 146, 64.52, datetime.date(2023, 9, 21)], [3, 147, 54.33, datetime.date(2023, 9, 8)], [57, 148, 143.81, datetime.date(2023, 5, 30)], [16, 149, 207.38, datetime.date(2023, 6, 3)], [33, 150, 63.68, datetime.date(2023, 1, 14)], [64, 151, 236.52, datetime.date(2023, 3, 13)], [68, 152, 211.12, datetime.date(2023, 9, 4)], [13, 153, 198.38, datetime.date(2023, 3, 22)], [10, 154, 78.61, datetime.date(2023, 11, 25)], [14, 155, 127.07, datetime.date(2023, 9, 23)], [14, 156, 94.94, datetime.date(2023, 8, 24)], [60, 157, 219.88, datetime.date(2023, 10, 1)], [56, 158, 114.4, datetime.date(2023, 1, 19)], [41, 159, 197.75, datetime.date(2023, 5, 6)], [35, 160, 201.27, datetime.date(2023, 5, 7)], [32, 161, 216.46, datetime.date(2023, 4, 18)], [56, 162, 148.8, datetime.date(2023, 12, 23)], [34, 163, 105.13, datetime.date(2023, 7, 25)], [9, 164, 236.48, datetime.date(2023, 9, 17)], [67, 165, 83.66, datetime.date(2023, 11, 7)], [54, 166, 71.63, datetime.date(2023, 6, 23)], [32, 167, 172.97, datetime.date(2023, 11, 22)], [67, 168, 188.0, datetime.date(2023, 10, 29)], [45, 169, 205.12, datetime.date(2023, 11, 22)], [49, 170, 87.1, datetime.date(2023, 2, 5)], [6, 171, 131.25, datetime.date(2023, 12, 8)], [49, 172, 249.35, datetime.date(2023, 9, 28)], [62, 173, 54.66, datetime.date(2023, 8, 25)], [4, 174, 158.99, datetime.date(2023, 6, 22)], [4, 175, 143.47, datetime.date(2023, 6, 28)], [26, 176, 62.56, datetime.date(2023, 6, 5)], [4, 177, 66.38, datetime.date(2023, 7, 5)], [35, 178, 151.46, datetime.date(2023, 7, 29)], [12, 179, 56.65, datetime.date(2023, 8, 19)], [57, 180, 119.77, datetime.date(2023, 5, 19)], [10, 181, 132.69, datetime.date(2023, 12, 19)], [67, 182, 151.66, datetime.date(2023, 1, 21)], [36, 183, 59.99, datetime.date(2023, 10, 7)], [61, 184, 222.5, datetime.date(2023, 1, 4)], [26, 185, 100.58, datetime.date(2023, 8, 23)], [56, 186, 164.45, datetime.date(2023, 1, 13)], [1, 187, 192.35, datetime.date(2023, 5, 19)], [27, 188, 241.72, datetime.date(2023, 10, 5)], [1, 189, 102.29, datetime.date(2023, 8, 5)], [7, 190, 199.74, datetime.date(2023, 4, 4)], [19, 191, 142.83, datetime.date(2023, 8, 9)], [18, 192, 165.83, datetime.date(2023, 2, 18)], [6, 193, 233.05, datetime.date(2023, 3, 17)], [45, 194, 207.53, datetime.date(2023, 8, 25)], [63, 195, 98.83, datetime.date(2023, 12, 8)], [6, 196, 187.85, datetime.date(2023, 9, 23)], [14, 197, 174.16, datetime.date(2023, 3, 20)], [29, 198, 223.99, datetime.date(2023, 2, 26)], [35, 199, 204.49, datetime.date(2023, 7, 7)], [7, 200, 93.44, datetime.date(2023, 6, 21)]]




[(56, 620.53), (8, 219.95), (48, 138.96), (32, 638.75), (24, 387.35), (64, 391.02), (16, 207.38), (1, 348.39), (65, 173.69), (17, 128.49), (57, 263.58), (33, 63.68), (41, 197.75), (9, 236.48), (49, 336.45), (66, 312.03999999999996), (18, 399.91), (2, 146.82), (34, 169.64999999999998), (10, 211.3), (26, 163.14), (3, 169.42000000000002), (27, 635.6), (35, 894.32), (51, 561.5), (67, 423.31999999999994), (19, 142.83), (60, 431.0), (12, 184.27), (68, 211.12), (4, 368.84000000000003), (36, 59.99), (45, 626.45), (13, 652.91), (37, 316.49), (69, 169.89), (61, 222.5), (29, 223.99), (22, 480.75), (6, 697.56), (38, 143.1), (14, 624.8199999999999), (54, 71.63), (62, 54.66), (47, 428.80999999999995), (39, 190.43), (55, 106.63), (63, 245.38), (23, 223.69), (7, 293.18)]